.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: blue;
    color: white;
    align-items: center;
}

.navDiv{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.navDiv p{
    background-color: white;
    color: black;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;

}
.cart{
    text-align: center;
   
}
.clearButton{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    margin: 0 20px;
    cursor: pointer;
}
.cartItem{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}
.cartInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartQuantityButton{
    border: none;
    background-color: white;
}
.cartDeleteButton{
    padding: 10px;
    width: 60px;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
    margin-top: 50px;
}

